# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

# Parameters
/app/config/parameters.yml

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/
/bin/
/tests/
/var/

# Assets and user uploads
/web/bundles/

# PhpStorm
.idea

