{% extends "base.html.twig" %}

{% block title %}Access Denied{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h3>Access Denied (403 exception)</h3>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Username: {{ app.user.username }}

            {% if is_granted('ROLE_ADMIN') %}
                &nbsp;is ROLE_ADMIN
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                &nbsp;is ROLE_USER
            {% endif %}
        </p>
    {% endif %}
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>

{% endblock %}

{% block javascripts %}{% endblock %}